body {
    margin: 0px;
}

.container {
    margin: 0;
    border: 2px solid black;
    width: 360px;
}


.btn
{
    display: flex;
    flex-direction: column;
    width: 100px;
    /* justify-content: center; */
    align-items: center;
}

.c
{
    margin: 2px 2px;
    border: 1px solid black;
    /* align-items: center; */
    text-align: center;
    padding: 3px;
    width:30px;
}

.b
{
    margin: 2px 2px;
    border: 1px solid black;
    padding: 3px;
    width: auto;
}

@media (min-width:360px)
{
    .container
    {
        margin: 0px;
        padding: 0px;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 360px;
    }
    .btn
    {
        /* align-self:baseline; */
        order: 4;
        display: flex;
        flex-direction: row;
        width: 355px;
        justify-content: space-evenly;
    }
    .camp
    {
        /* align-self: baseline; */
        order: 2;
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .tab
    {
        width:290px;
        order: 1;
    }
}
